.nav-bar
{
  background-color: #ffffffd6;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 7px;
}
button
{
  width: 100px;
  border: none;
  background: transparent;


}
button.selected {
  text-decoration: underline;
  color: blue;

}
